<div class="tab-wrapper">
  <div class="list-div">
    <ul class="skill-list skill-design">
      <li>
        Photoshop
      </li>
      <li>
        Illustrator
      </li>
      <li>
        Balsamiq
      </li>
    </ul>
    <ul class="rating-list rating-design">
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
    </ul>
  </div>

  <!--<ul class="workList">
    <li class="thumb col-xs-6" ng-repeat="designWork in designWorks">
      <a>
        {{designWork.name}}
      </a>
    </li>
  </ul>-->

<div class="project-wrapper">
  <h3 class="purple">Titi's Hair Art</h3>
  <div class="col-xs-12 col-md-6">
    <div class="slide-wrapper">
      <div ng-controller="carouselCtrl" class="slideshow">
        <div>
          <carousel>
            <slide ng-repeat="titiSlide in titiSlides" active="slide.active">
              <img ng-src="{{titiSlide.image}}">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="caption">

      Titi's Hair &amp; Beauty is a local babershop in Turku. The owner expect the design to be simple and reflect the brand and
      owner's personality. The package includes:<br/><br/>
        - Business card<br/>
        - Price lists<br/>
        - Loyal customer card, gift card &amp; stamp<br/>
        - Posters<br/><br/>
      The shop has been opened for two years, and I am still in charge for all marketing materials.

    </div>
  </div>
</div>

<div class="project-wrapper">
  <h3 class="orange">Artworks</h3>
  <div class="col-xs-12 col-md-6">
    <div class="slide-wrapper">
      <div ng-controller="carouselCtrl" class="slideshow" data-interval="false">
        <div>
          <carousel>
            <slide ng-repeat="artSlide in artSlides" active="slide.active">
              <img ng-src="{{artSlide.image}}">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="caption">
      Whenever I have free time, I am more than happy to waste it on drawing vector art. It helps me to shapen pen tool and color mix skills.

    </div>
  </div>
</div>

</div>

<script>
$(document).ready(function(){
  $('.workList').on('click', 'li', function() {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
  });
});
</script>
