<div class="tab-wrapper">
  <div class="list-div">
    <ul class="skill-list skill-coding">
      <li>
        HTML
      </li>
      <li>
        CSS
      </li>
      <li>
        jQuery(UI)
      </li>
      <li>
        Bootstrap3
      </li>
      <li>
        Javascript
      </li>
      <li>
        AngularJS
      </li>

    </ul>
    <ul class="rating-list rating-coding">
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </li>
    </ul>
  </div>

  <ul class="workList">
    <li class="thumb col-xs-6 col-sm-4" ng-repeat="codingWork in codingWorks">
      <a class="work-item coding">
        {{codingWork.name}}</br>
      </a>
    </li>
  </ul>
</div>

<script>
$(document).ready(function(){
  $('.workList').on('click', 'li', function() {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
  });
});
</script>
