<div class="content animated fadeIn">
  <div>
    <div id="about-text" >
      <p class="animated bounce">Hello! My name is Anh Nguyen and I'm a IT student of TurkuAMK, Finland. Coding and designing are my jobs and hobbies. I'm keen on UI/UX and frontend development, and have participated in different projects to improve my skill set. </br></br> Now I'm living and studying in Turku, but I can be flexible with moving for working purpose.</p>
    </div>
    <div class="btnHomeDiv">
      <a class="btn btn-home btn-design" ui-sref=".design">design</a>
      <a class="btn btn-home btn-coding" ui-sref=".coding">coding</a>
    </div>

  </div>

  <div class="animated fadeIn" autoscroll="false" ui-view></div>
</div>
<script>
  $(document).ready(function(){
    $('.mainNav>li:first-child').addClass('active');
    $('.mainNav>li:first-child').siblings().removeClass('active');
    $('.btn-home').click(function(){
      $('#about-text').hide();
      $('.btnHomeDiv').width('100%');
      $('.btn-home').addClass('after-click');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.mainNav>li:first-child').click(function(){
      $('#about-text').fadeIn('slow');
    });
  });
</script>
